html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
h3 {
    margin-left: auto;
    margin-right: auto;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
td.noFiles {
    margin-left: auto;
    margin-right: auto;
    height:10px;
    width:300px;
}
th.popup {
    margin-left: auto;
    margin-right: auto;
    width:200px;
}
th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: center;
    font-size: 13px;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
.filelog {
    max-width: 800px;
    max-height: 700px;
    border-collapse: collapse;
    overflow-y:auto;
    text-align: center;
    padding: 6px;
}
.createsvgbutt {
    margin: 0 auto;
}
.svgview {
    max-width: 800px;
    border-collapse: collapse;
    overflow-y:auto;
    overflow-x: auto;
    text-align: center;
    padding: 10px;
}
.svgtablecss {
    max-width: 600px;
    border-collapse: collapse;
    overflow-y:auto;
    overflow-x: auto;
    text-align: center;
    padding: 10px;
}
.svgtablecss tr, th, td {
    overflow-y:auto;
    overflow-x: auto;
    border-collapse: collapse;
    max-width: 800px;
}
.svgdropdown {
    margin: 0 auto;
}
.logimage {
    max-width: 200px;
    height: auto;
}
.svgpanelimage {
    min-width: 800px;
    max-width: 800px;
    height: auto;
}
.hidden {
    visibility: hidden;
}

.popup-overlay {
    margin-left: auto;
    margin-right: auto;
    visibility:hidden;
    background: #ffffff;
    border: 1px solid #dddddd;
    width: auto;
    height: auto;
}
.popup-content {
    visibility:hidden;
}
.popup-overlay.active {
    visibility:visible;
    text-align: center;
}
.popup-content.active {
    visibility:visible;
}
.close {
    text-align: center;
    margin-right: 7px;
}

.popup-overlay-mini {
    margin-left: auto;
    margin-right: auto;
    visibility:hidden;
    background: #ffffff;
    border: 1px solid #dddddd;
    width: auto;
    height: auto;
}
.popup-content-mini {
    visibility:hidden;
}
.popup-overlay-mini.active {
    visibility:visible;
    text-align: center;
}
.popup-content-mini.active {
    visibility:visible;
}
.close-mini {
    text-align: center;
    margin-right: 7px;
}

@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}